* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.02em;
  }
  
  a {
    font-size: 18px;
    line-height: 20px;
    color: #8492a6;
    text-decoration: none;
  }

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    border-bottom: 1px solid #e5eaef;
    list-style-type: none;
}

.menu-item {
    margin-right: 16px;
}

.menu-item a {
  /* display: block; */
  padding: 16px 20px;
}

.menu-item :last-child {
  margin-right: 0;
}

.menu-item.active {
    border-bottom: 2px solid blue;
}

.menu-item.active a {
    font-weight: 900;
    color: #2860e1;
}
